/* header */
.navbar-default {
	background:#73D6D2;
	font-size:20px;
	color: #005DFF;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size:22px
}

.dro {
    color: #ffffff;
     background-color:#73D6D2; 
}
 .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #73D6D2;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

/* section  */
.text-tp {
	font-size:15px;
	color: #BEBEBE;
}
.fa-user {
	font-size:150%;
	margin-right:10px;
	margin-bottom:10px;
	color: #BEBEBE;
}

.text-chek {
	margin-right:10px;
	margin-bottom:10px;
	
}